.calendar {
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    text-align: center;
    font: 15px/1em inherit;
    color: #545A5C;
    padding: 0 16px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.calendar a {
    text-decoration: none;
    color: inherit;
}
.calendar header .btn {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #CBD1D2;
    border-radius: 50%;
    border: 2px solid #CBD1D2;
    top: 0;
    bottom: 0;
    margin: auto;
}
.calendar header .btn:hover {
    background: #CBD1D2;
    color: white;
}
.calendar header .btn:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-width: 3px 3px 0 0;
    transform: rotate(45deg);
    transform-origin: center center;
}
.calendar header .btn-prev {
    left: 0px;
    transform: rotate(-180deg);
}
.calendar header .btn-next {
    right: 0px;
}
.calendar header .btn-next:before {
    transform: rotate(45deg);
}
.calendar header .month {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: ProximaNovaRegular;
}
.calendar header .month .year {
    font-size: 0.6em;
    font-weight: 100;
}
.calendar table {
    width: 100%;
    padding: 0;
}
.calendar thead {
    font-size: 1.2em;
    font-weight: 600;
}
.calendar td {
    padding: 0;
    font-size: 14px;
    font-family: ProximaNovaRegular;
}
.calendar .day {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 2.5em;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
.calendar .day:hover {
    background: #6e9af2;
    color: #fff;
}
.calendar .day.today {
    background: #ff7d24;
    color: white;
}
.calendar .day.today.has-event:after {
    background: white;
}
.calendar .day.wrong-month {
    color: #CBD1D2;
}
.calendar .day.wrong-month:hover {
    border: 2px solid transparent;
}
.calendar .day.has-event:after {
    content: '';
    position: absolute;
    top: calc(50% + .6em);
    left: calc(50% - 2px);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #6e9af2;
}
.calendar .day.disabled {
    cursor: default;
}
.calendar .day.disabled:hover {
    border: 2px solid transparent;
}
.calendar .event-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #6e9af2;
    box-sizing: border-box;
}
.calendar .event-container::-webkit-scrollbar {
    width: 4px;
}
.calendar .event-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.calendar .event-container::-webkit-scrollbar-thumb {
    background: #ff7d24;
    border-radius: 10px;
}
/* Handle on hover */
.calendar .event-container::-webkit-scrollbar-thumb:hover {
    background: #ff7d24;
}
.calendar .event-container .event-wrapper {
    overflow-y: auto;
    max-height: 100%;
}
.calendar .event-container .close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 6px;
    right: 5px;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
    opacity: 1;
    z-index: 2;
}
.calendar .event-container .close:before, .calendar .event-container .close:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #CBD1D2;
}
.calendar .event-container .close:before {
    transform: rotate(45deg);
}
.calendar .event-container .close:after {
    transform: rotate(-45deg);
}
.calendar .event-container .event {
    position: relative;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    background: #ff7d24;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    text-align: left;
    color: white;
}
.calendar .event-container .event-date {
    margin-bottom: 1em;
}
.calendar .event-container .event-hour {
    float: right;
}
.calendar .event-container .event-summary {
    font-weight: 600;
}
.calendar .filler {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #82acff;
    transform: translate(-50%, -50%);
}
.calendar header {
    padding: 12px 0px;
    position: relative;
}
.calendar header .month .year {
    font-size: 11px;
}
.calendar .event-container .event:last-child {
    margin-bottom: 0;
}
.calendar .day.has-event:hover:after {
    background: #fff;
}
.calendar .day.has-event {
    font-weight: bold;
}
