#gspeech_wrapper {
    white-space: nowrap;
    box-shadow:2px 2px 5px #000, 0 0 4px 1px rgba(17, 18, 29, 0.46), 0 0 23px 8px rgb(255, 255, 255);
    border-radius: 11px;
    padding: 4px 30px 8px 10px;
    top: 44px;
    background-color: rgba(242, 244, 245, 0.85);
    position: absolute;
    display: none;
    z-index: 9999;
}
#gspeech_wrapper:hover {
    box-shadow: 2px 2px 6px #000, 0 0 6px 2px rgba(17, 18, 29, 0.46), 0 0 23px 8px rgb(255, 255, 255);
}
.gspeech_title {
    color: rgb(90, 90, 90);
    font-size: 13px
}
.gspeech_powered {
    margin-top: 6px;
    font-weight: bold;
    font-size: 16px;
    display: block;
    color:#666;
}
.gspeech_powered a {
    color: #08C;
    text-decoration: underline;
}
.gspeech_powered a:hover {
    color: #08C;
    text-decoration: none;
}
.gspeech_wrapper {
    white-space: nowrap;
    box-shadow: 2px 2px 5px #000, 0 0 4px 1px rgba(17, 18, 29, 0.46), 0 0 23px 8px rgb(255, 255, 255);
    border-radius: 11px;
    padding: 4px 30px 8px 10px;
    background-color: rgba(242, 244, 245, 0.85);
    position: absolute;
    display: block;
    z-index: 9999;
    top: 45px;
    left: 20px;
}
.gspeech_wrapper:hover {
    box-shadow: 2px 2px 6px #000, 0 0 6px 2px rgba(17, 18, 29, 0.46), 0 0 23px 8px rgb(255, 255, 255);
}
.gspeech_pro_main_wrapper {
    position: relative;
}

#sound_container {
    position: absolute;
    cursor: pointer;
    z-index: 999999;
    display: none;
}
#sound_container.size_1 {
    width: 34px;
    height: 34px;
    border: 1px solid #fff;
    border-radius: 100%;
}
#sound_container.size_0 {
    width: 17px;
    height: 16px;
}
#sound_container:hover {
    filter: alpha(opacity = 100);
    opacity:1;
}
#sound_audio {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}
#sound_text {
    display: none;
}

.gspeech_selection {
    display: inline;
    background-color:white;
}

.sound_container_pro {
    display: inline-block;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.sound_container_pro.size_1 {
    width: 33px;
    height: 32px;
    left: 0px;
    top: 2px;
}
.gspeech_selection  {
}
.sound_container_pro.size_0 {
    width: 17px;
    height: 16px;
    left: 0px;
    top: 2px;
}
.sound_audio_pro {
    width: 0;
    height: 0;
    display: inline;
    overflow: hidden;
}
.sound_text_pro {
    display: none;
}
/***********************************************SPEAKERS***********************************************************************************/
.sound_container_pro.speaker_1.size_0, #sound_container.speaker_1.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_1.size_1, #sound_container.speaker_1.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_2.size_0, #sound_container.speaker_2.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_2.size_1, #sound_container.speaker_2.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_3.size_0, #sound_container.speaker_3.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_3.size_1, #sound_container.speaker_3.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_4.size_0, #sound_container.speaker_4.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_4.size_1, #sound_container.speaker_4.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_5.size_0, #sound_container.speaker_5.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_5.size_1, #sound_container.speaker_5.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_6.size_0, #sound_container.speaker_6.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_6.size_1, #sound_container.speaker_6.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_7.size_0, #sound_container.speaker_7.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_7.size_1, #sound_container.speaker_7.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_8.size_0, #sound_container.speaker_8.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_8.size_1, #sound_container.speaker_8.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_9.size_0, #sound_container.speaker_9.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_9.size_1, #sound_container.speaker_9.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_10.size_0, #sound_container.speaker_10.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_10.size_1, #sound_container.speaker_10.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_11.size_0, #sound_container.speaker_11.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_11.size_1, #sound_container.speaker_11.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_12.size_0, #sound_container.speaker_12.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_12.size_1, #sound_container.speaker_12.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_13.size_0, #sound_container.speaker_13.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_13.size_1, #sound_container.speaker_13.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_14.size_0, #sound_container.speaker_14.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_14.size_1, #sound_container.speaker_14.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_15.size_0, #sound_container.speaker_14.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_15.size_1, #sound_container.speaker_14.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_16.size_0, #sound_container.speaker_16.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_16.size_1, #sound_container.speaker_16.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_17.size_0, #sound_container.speaker_17.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_17.size_1, #sound_container.speaker_17.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_18.size_0, #sound_container.speaker_18.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_18.size_1, #sound_container.speaker_18.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_19.size_0, #sound_container.speaker_19.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_19.size_1, #sound_container.speaker_19.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_20.size_0, #sound_container.speaker_20.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_20.size_1, #sound_container.speaker_20.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_21.size_0, #sound_container.speaker_21.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_21.size_1, #sound_container.speaker_21.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_22.size_0, #sound_container.speaker_22.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_22.size_1, #sound_container.speaker_22.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_23.size_0, #sound_container.speaker_23.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_23.size_1, #sound_container.speaker_23.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_24.size_0, #sound_container.speaker_24.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_24.size_1, #sound_container.speaker_24.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_25.size_0, #sound_container.speaker_25.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_25.size_1, #sound_container.speaker_25.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_26.size_0, #sound_container.speaker_26.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_26.size_1, #sound_container.speaker_26.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_27.size_0, #sound_container.speaker_27.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_27.size_1, #sound_container.speaker_27.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_28.size_0, #sound_container.speaker_28.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_28.size_1, #sound_container.speaker_28.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_29.size_0, #sound_container.speaker_29.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_29.size_1, #sound_container.speaker_29.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_30.size_0, #sound_container.speaker_30.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_30.size_1, #sound_container.speaker_30.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_31.size_0, #sound_container.speaker_31.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_31.size_1, #sound_container.speaker_31.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_32.size_0,#sound_container.speaker_32.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_32.size_1, #sound_container.speaker_32.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_33.size_0, #sound_container.speaker_33.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_33.size_1, #sound_container.speaker_33.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_34.size_0, #sound_container.speaker_34.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_34.size_1, #sound_container.speaker_34.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_35.size_0, #sound_container.speaker_35.size_0  {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_35.size_1, #sound_container.speaker_35.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_36.size_0, #sound_container.speaker_36.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_36.size_1, #sound_container.speaker_36.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_37.size_0, #sound_container.speaker_37.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_37.size_1, #sound_container.speaker_37.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_38.size_0, #sound_container.speaker_38.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_38.size_1, #sound_container.speaker_38.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_39.size_0, #sound_container.speaker_39.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_39.size_1, #sound_container.speaker_39.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.sound_container_pro.speaker_40.size_0, #sound_container.speaker_40.size_0 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}
.sound_container_pro.speaker_40.size_1, #sound_container.speaker_40.size_1 {
    background: transparent url("../img/speaker.png") 1px top no-repeat;
}

.gs_tooltip {
    position: absolute;
    display: none;
    z-index: 9998;
}
#gs_tooltip {
    position: absolute;
    display: none;
    z-index: 9997;
}
#gs_tooltip_title {
    position: absolute;
    display: none;
    z-index: 9997;
}
.the-tooltip {
    padding: 0 !important;
    float: none !important;
    margin: 0 !important;
    width: auto !important;
}

.gs_tooltip .powered_by, #gs_tooltip .powered_by {
    font-style: italic !important;
    display: block !important;
    font-weight: bold !important;
    font-size: 16px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.gs_tooltip .powered_by_3,#gs_tooltip .powered_by_3 {
    color: rgb(255, 255, 255) !important;
    text-shadow: 0px -1px 0px rgb(0, 0, 0), 0px 2px 2px rgb(15, 15, 15) !important;
}
.gs_tooltip .powered_by_3:hover,#gs_tooltip .powered_by_3:hover {
    text-shadow: 0px -1px 0px rgb(0, 0, 0), 0px 3px 2px rgb(15, 15, 15) !important;
}
.gs_tooltip .powered_by_3 a,#gs_tooltip .powered_by_3 a {
    color: rgb(233, 243, 2) !important;
    text-decoration: none;
    text-shadow: 0px -1px 0px rgb(0, 0, 0), 0px 2px 1px rgb(15, 15, 15) !important;
}
.gs_tooltip .powered_by_3:hover a,#gs_tooltip .powered_by_3:hover a {
    color:rgb(245, 255, 11) !important;
    text-shadow: 0px -1px 0px rgb(0, 0, 0), 0px 3px 2px rgb(15, 15, 15) !important;
}
.gs_tooltip .powered_by_3 a:hover,#gs_tooltip .powered_by_3 a:hover {
    text-decoration: underline;
}
