@media only screen and (max-width: 992px) {
    main .section-category .item {
        margin-bottom: 30px;
    }
    main .section-advertising img {
        width: 100%;
    }
    main .section-advertising {
        margin-top: 35px;
    }
    main .section-news .news-item-right .item-right h2 {
        font-size: 17px;
        height: 61px;
        overflow: hidden;
    }
    main .section-news .news-item-right .item-right {
        padding: 25px 25px 25px 25px;
    }
    main .section-news .news-item-right .item-right p {
        font-size: 13px;
        height: 59px;
        overflow: hidden;
    }
    main .news-heading {
        padding: 0 13%;
    }
    main .news-subscribe .subscribe-form {
        width: 80%;
    }
    .container {
        max-width: 100%;
    }
    main .section-banner .banner-heading {
        padding: 0 50px;
    }
    main .section-banner .banner button.slick-next.slick-arrow, main .section-banner .banner button.slick-prev.slick-arrow {
        display: none !important;
    }
    header .logo a {
        display: inline-block;
        width: 100%;
    }
    header .logo a img {
        width: 100%;
    }
    main .news-heading.young-item {
        padding: 0 21%;
    }
    main .item-statistics {
        margin-bottom: 30px;
    }
    main .service-statistics {
        padding-bottom: 45px;
    }
    .side-nav {
        display: none;
    }
    footer .menu-footer ul li {
        padding-right: 0;
    }
    footer .width-footer-left {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    footer .width-footer-right {
        flex: 0 0 100%;
        max-width: 100%;
    }
    footer .data-logo {
        justify-content: center;
        margin-top: 20px;
    }
    footer .counter img {
        width: 100%;
    }
    main .news-heading.young-item.service-statistics2 {
        padding: 0px 15%;
    }
}
@media only screen and (max-width: 900px) {
    main .section-news .news-item-right .item-img {
        height: 240px;
    }
    main .news-subscribe .subscribe-form {
        width: 100%;
    }
    main .images-folk {
        height: 194px;
    }
    main .images-folk img {
        width: 100%;
    }
    main .neme-folk p {
        font-size: 17px;
    }
    main .neme-folk span {
        font-size: 13px;
    }
}
@media only screen and (max-width: 769px) {
    .page-body-sidebar {
        margin-top: 40px;
    }
    main .section-news .news-block {
        flex-wrap: wrap;
    }
    main .section-news .news-block .news-left-img {
        height: 450px;
        margin-bottom: 30px;
    }
    main .section-news .news-bottom {
        flex-wrap: wrap;
    }
    main .section-news .news-item-right .item-right h2 {
        height: auto;
    }
    main .section-news .news-item-right .item-right p {
        height: auto;
    }
    main .section-news .news-item-right .item-img {
        height: 250px;
    }
    main .section-news .news-item-right:last-child .item-img {
        order: 1;
    }
    main .section-news .news-item-right .item-img.order-left {
        order: -1;
    }
    main .news-heading {
        padding: 0 0;
    }
    main .folk-heading {
        text-align: center;
    }
    main .images-folk img {
        width: auto;
    }
    main .images-folk {
        height: 200px;
    }
    .statistics {
        margin-bottom: 30px;
    }
    main .folk .show-more {
        margin-top: 25px;
    }
    main .news-heading.young-item {
        padding: 0 0;
    }
    main .show-more {
        margin-top: 30px;
    }
    main .news-heading.young-item.service-statistics2 {
        padding: 0px 0;
    }
    main .section-banner .banner-heading {
        padding: 0 0;
    }
    .menu-footer {
        margin-bottom: 30px;
    }
    footer .counter span.weather {
        width: 100%;
    }
    footer .counter img {
        width: auto;
    }
    footer .footer-top {
        padding-bottom: 45px;
    }
    footer .width-footer-left {
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 30px;
    }
    footer .width-footer-right {
        flex: 0 0 50%;
        max-width: 50%;
    }
    footer .footer-social-network ul {
        justify-content: flex-end;
    }
    .toggle-nav {
        display: block;
    }
    header section.section-bottom {
        padding: 15px 0;
    }
    header .section-bottom .menu {
        left: inherit;
        position: fixed;
        padding-top: 0;
        display: inline-block;
        margin: 0;
        transition: .5s;
        top: 0;
        bottom: 0;
        transform: perspective(1000px) translateX(100%);
        transform-origin: right center 0cm;
        width: 300px;
        right: 0;
        background-color: #fff;
        z-index: 100000;
        overflow-x: scroll;
        height: 100%;
    }
    header .section-bottom .menu ul {
        display: block;
    }
    header .section-bottom .menu ul li {
        margin: 0;
        width: 100%;
    }
    header .section-bottom .menu ul li a {
        width: 100%;
        border: none;
        text-align: left;
        padding: 15px 0 15px 20px;
    }
    header .section-bottom .menu ul li ul {
        display: none;
    }
    header .section-bottom .menu ul li:last-child .menu-a:after {
        right: 15px;
    }
    header .section-bottom .menu ul li {
        padding-bottom: 0;
    }
    header .section-bottom .menu ul li:last-child .menu-a {
        padding-right: 34px;
    }
    header .section-bottom .menu ul li.close-icon a {
        padding: 15px 15px 15px 20px;
        text-align: right;
        font-size: 20px;
    }
    header .section-bottom .menu ul li.close-icon {
        display: block;
    }
    header .section-bottom .menu ul li.close-icon a:after {
        content: none;
    }
    main .section-news .news-item-right .item-img::after {
        content: none;
    }
    ul.sub-menu-mobile li a {
        color: #4e4e4e;
        display: inline-block;
        padding: 8px 5px 8px 30px !important;
        font-size: 15px;
    }
    header .panel li a[aria-expanded="true"] {
        color: #6291f1 !important;
    }
    header .panel li a[aria-expanded="true"]::after {
        background: url(../img/drow-active.png) no-repeat center !important;
    }
    header .section-bottom .menu ul.mobile-site {
        display: inline-block;
        width: 100%;
    }
    header .section-bottom .menu ul.web-site {
        display: none;
    }
    main .section-news .news-menu ul li button {
        font-size: 25px;
        padding-top: 40px;
        white-space: nowrap;
    }
    main .news-subscribe .subscribe-form {
        flex-wrap: wrap;
        justify-content: center;
    }
    main .news-subscribe .subscribe-heading {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 576px) {
    .event-item ul {
        padding-left: 20px;
    }
    .event-item ul li {
        padding: 10px 0;
    }
    .event-item ul li .event-title a {
        font-size: 16px;
        line-height: 1.2;
        display: block;
    }
    .event-item ul li div:not(:last-child) {
        margin-right: 20px;
    }
    .event-item ul li .event-date h4 {
        font-size: 19px;
        padding: 5px 0;
    }
    .news-item .news-img, .news-item .news-text, .news-column, .news-item {
        display: block;
        width: 100% !important;
        max-width: 100% !important;
    }
    .news-item .news-img img {
        height: auto;
    }
    .news-item {
        margin-bottom: 30px;
    }
    .news-item .news-img:after {
        display: none;
    }
    .page-title {
        font-size: 22px;
    }
    .list-items .list-item .item-content {
        padding: 20px !important;
    }
    .list-items .list-item .item-content h2 {
        margin: 0 -20px;
        padding: 0 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .list-items .list-item img {
        height: 290px;
    }
    main .section-news .news-menu ul {
        flex-wrap: nowrap;
        width: auto;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: flex-start;
    }
    main .section-news .news-menu ul::-webkit-scrollbar, main .section-news .news-menu .menu-directions::-webkit-scrollbar {
        display: none;
    }
    main .section-news .news-menu .menu-directions {
        flex-wrap: nowrap;
        width: auto;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: center;
    }
    header .section-top .phone {
        display: none;
    }
    header .section-top .social-network {
        margin: 0;
    }
    main .section-banner .banner-heading h1 {
        font-size: 30px;
    }
    main .section-banner .banner-heading p {
        font-size: 13px;
    }
    main .section-banner .item img {
        height: 550px;
    }
    main .section-news .news-item-right {
        flex-wrap: wrap;
    }
    main .section-news .news-item-right .item-img {
        width: 100%;
    }
    main .section-news .news-item-right .item-right {
        width: 100%;
    }
    main .section-news .news-item-right:last-child .item-img {
        order: -1;
    }
    main .section-news .news-item-right .item-img {
        height: 300px;
    }
    main .section-news .news-item-right .item-right {
        padding: 25px 25px 70px 25px;
    }
    main .section-news .news-item-right .item-right a {
        bottom: 20px;
    }
    main .section-news {
        margin-bottom: 30px;
    }
    main #news-directions {
        padding: 30px 0 30px 0;
    }
    main .news-subscribe form {
        width: 80%;
    }
    main #news-for-directions {
        margin: 30px 0;
    }
    .mobile-col {
        margin-top: 30px;
    }
    main .young {
        padding: 30px 0;
    }
    main .service-statistics {
        padding: 30px 0;
        padding-bottom: 0;
    }
    footer .width-footer-left {
        flex: 0 0 100%;
        max-width: 100%;
    }
    footer .width-footer-right {
        flex: 0 0 100%;
        max-width: 100%;
    }
    footer .text-footer-center {
        justify-content: center;
    }
    footer .footer-bottom p {
        width: 100%;
    }
    .fixed .big-button {
        bottom: 80px;
    }
    footer .counter img {
        width: 100%;
    }
    main .section-news .news-menu ul li button {
        font-size: 20px;
    }
    main .news-heading h3 {
        font-size: 25px;
    }
    main .news-heading p {
        font-size: 12px;
    }
    main .news-subscribe .subscribe-heading h5 {
        font-size: 20px;
    }
    main .news-subscribe .subscribe-heading span {
        font-size: 40px;
    }
    main .folk-heading h4 {
        font-size: 25px;
    }
    footer .footer-top {
        padding: 30px 0;
        padding-bottom: 15px;
    }
}
@media only screen and (max-width: 446px) {
    main .section-banner .banner-heading .more-details {
        margin-bottom: 30px;
    }
    main .section-news .news-menu ul li button {
        line-height: 20px;
    }
    main .section-news .news-menu .menu-directions li button {
        padding: 0 10px 20px 10px;
        font-size: 12px;
    }
    main .news-subscribe form {
        width: 100%;
    }
    .mobile-footer-menu {
        flex: 0 0 100%;
        max-width: 100%;
    }
    footer .counter img {
        width: auto;
    }
    footer .text-footer-center p {
        font-size: 12px;
    }
    main .folk-heading h4 {
        font-size: 22px;
    }
    main .data-user {
        padding: 50px 15px 20px;
    }
    main .data-user h2 {
        font-size: 18px;
    }
    main .section-news .news-block .news-left-img {
        height: 350px;
    }
    main .section-banner .banner ul.slick-dots {
        bottom: 100px;
    }
}
@media only screen and (max-width: 400px) {
    .mobile-block {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
