.dd-list .btn-group{
    position: absolute;
    right: 0;
    top: 0.5px;
    margin-right: 5px;
}
.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-item .dd-handle,
.dd-list .dd3-item .dd-handle {
    cursor: default;
    display: block;
    margin: 5px 0;
    padding: 7px 10px;
    text-decoration: none;
    border: 1px solid #dedede;
    background: #ffffff;
}

.dd-list .dd-item .dd-handle:hover,
.dd-list .dd3-item .dd-handle:hover {
    color: #ffffff;
    background: #4285f4;
    border-color: #4285f4;
}

.dd-list .dd-item > button,
.dd-list .dd3-item > button {
    font-family: 'FontAwesome';
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 8px 2px;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 16px;
    line-height: 1;
    text-align: center;
}

.dd-list .dd-item > button:before,
.dd-list .dd3-item > button:before {
    content: '\f067';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-list .dd-item > button[data-action="collapse"]:before,
.dd-list .dd3-item > button[data-action="collapse"]:before {
    content: '\f068';
}

.dd-list .dd-item .dd3-content,
.dd-list .dd3-item .dd3-content {
    display: block;
    margin: 5px 0;
    padding: 7px 10px 7px 40px;
    text-decoration: none;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #dedede;
}

.dd-list .dd-item .dd3-content:hover,
.dd-list .dd3-item .dd3-content:hover {
    background: #ffffff;
}

.dd-list .dd-item .dd3-handle,
.dd-list .dd3-item .dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: all-scroll;
    width: 34px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #4285f4;
    background: #4285f4;
    height: 36px;
}

.dd-list .dd-item .dd3-handle:before,
.dd-list .dd3-item .dd3-handle:before {
    content: '=';
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #ffffff;
    font-size: 23px;
    line-height: 24px;
    font-weight: normal;
}

.dd-list .dd-item .dd3-handle:hover,
.dd-list .dd3-item .dd3-handle:hover {
    background: #5a95f5;
    border-color: #5a95f5;
}

.dd-list .dd3-item > button {
    margin-left: 35px;
}

.dd-list .dd-item,
.dd-list .dd-empty,
.dd-list .dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.dd-list .dd-placeholder,
.dd-list .dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #FFF;
    border: 1px dashed #b3b3b3;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-list .dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), -webkit-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
    background-image: -o-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), -o-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
    background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-list .dd-collapsed .dd-list {
    display: none;
}

.dd-list.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-list.dd-dragel > .dd-item .dd-handle {
    margin-top: 0;
}

.dd-list.dd-dragel .dd-handle,
.dd-list.dd-dragel .dd3-handle {
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.dd-list .dd-list {
    padding-left: 30px;
}
