body {
    font-family: ProximaNovaBold;
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #6291f1;
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: #6291f1;
    height: 10px;
}
body.active {
    overflow: hidden;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
}
a:hover {
    text-decoration: none;
    transition: 0.5s;
}
a:focus {
    text-decoration: none;
    outline: none;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
}
button:focus {
    outline: none;
}
[type=reset], [type=submit], button, html [type=button] {
    cursor: pointer;
}
*,
*:focus,
*:focus-within {
    outline: none;
    outline-color: transparent;
    text-decoration: none;
}
/* fonts */
@font-face {
    font-family: ProximaNovaBold;
    src: url(../font/ProximaNovaBold.otf);
}
@font-face {
    font-family: ProximaNovaRegular;
    src: url(../font/ProximaNovaRegular.otf);
}
@font-face {
    font-family: ProximaNovaExtrabold;
    src: url(../font/ProximaNovaExtrabold.ttf);
}
@font-face {
    font-family: PtsansBold;
    src: url(../font/PtsansBold.ttf);
}
.container {
    max-width: 1185px;
}
header .section-top {
    background: url(../img/header-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 8px 0;
}
header .section-top .header-left {
    display: flex;
    align-items: center;
}
header .section-top .phone {
    display: flex;
    align-items: center;
}
header .section-top .phone img {
    margin-right: 10px;
}
header .section-top .phone a {
    font-family: "ProximaNovaRegular";
    font-size: 13px;
    color: #fff;
}
header .section-top .social-network ul {
    padding: 0;
    margin: 0;
    display: flex;
}
header .section-top .social-network {
    margin-left: 20px;
}
header .section-top .social-network ul li {
    list-style: none;
    margin-left: 6px;
}
header .section-top .social-network ul li:first-child {
    margin: 0;
}
header .section-top .social-network ul li a {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .section-top .social-network ul li a i {
    font-size: 10px;
    color: #fff;
    transition: all .3s;
}
header .section-top .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .section-top .input {
    display: flex;
    align-items: center;
    margin-right: 18px;
}
header .section-top .input img {
    margin-right: 9px;
}
header .section-top .input a {
    font-size: 13px;
    color: #fff;
    display: flex;
    align-items: center;
}
header .section-top .languages-search {
    display: flex;
    align-items: center;
}
header .section-top .languages-search ul {
    padding: 0;
    margin: 0;
    position: relative;
}
header .section-top .languages-search li {
    list-style: none;
}
header .section-top .languages-search li a {
    font-family: "ProximaNovaRegular";
    font-size: 13px;
    color: #fff;
    padding-right: 10px;
    border-right: 1px solid #fff;
}
header .section-top .languages-search ul li ul {
    background-color: #fff;
    padding: 2px 0px;
    position: absolute;
    right: 0;
    left: -17px;
    width: 55px;
    text-align: center;
    box-shadow: 0px 0px 8px 0px #0000002e;
    top: 28px;
    opacity: 0;
    visibility: hidden;
    transition: 600ms;
    transform: translateY(100px);
    z-index: 16;
}
header .section-top .languages-search ul li ul.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
header .section-top .languages-search ul li ul li {
    display: inline-block;
    width: 100%;
}
header .section-top .languages-search ul li ul li a {
    color: #000;
    padding: 0;
    border: none;
}
header .section-top .languages-search button {
    padding-left: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .section-top .languages-search button .search {
    transition: all 600ms;
    position: relative;
    z-index: 1;
}
header .section-top .languages-search button .close-header {
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%) scale(0);
    line-height: 1;
    font-style: normal;
    transition: all 600ms;
    z-index: 1;
    font-size: 15px;
}
header .section-top .languages-search button.active .search {
    transform: scale(0);
}
header .section-top .languages-search button.active .close-header {
    transform: translate(0%, -50%) scale(1);
}
header .header-search-field {
    position: absolute;
    z-index: 24;
    top: 140%;
    right: 15px;
    border-radius: 0;
    box-shadow: 11px 10px 38px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 1);
    color: #212121;
}
header .header-search-field.active {
    opacity: 1;
    visibility: visible;
    transform: scale3d(1, 1, 1);
}
header .header-search-field form {
    position: relative;
    z-index: 1;
}
header .header-search-field form .search-field {
    width: 270px;
    height: 50px;
    border: unset;
    padding: 8px 70px 8px 20px;
    font-weight: 400;
    font-size: 16px;
    color: #616161;
    background: #f6f6f6;
    font-family: "ProximaNovaRegular";
}
header .header-search-field form .search-button {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 50px;
    right: 0;
    top: 0;
    font-size: 0;
    background: url(../img/search-active.png) no-repeat center;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
header .logo {
    height: 100%;
    display: flex;
    align-items: center;
}
header .section-bottom .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
header .section-bottom .menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
header .section-bottom .menu ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 35px 0;
}
header .section-bottom .menu ul li .menu-a {
    padding-right: 34px;
    border-right: 1px solid #ededed;
    font-size: 16px;
    color: #4e4e4e;
    font-family: "ProximaNovaExtrabold";
    line-height: 17px;
    position: relative;
    display: block;
    margin-right: 20px;
}
header .section-bottom .menu ul li .menu-a:after {
    content: '';
    display: block;
    position: absolute;
    right: 15px;
    background: url(../img/drow.png) no-repeat center;
    width: 9px;
    height: 100%;
    transition: 0.5s;
    top: 0;
    bottom: 0;
}
header .section-bottom .menu ul li:last-child .menu-a:after {
    right: 0;
}
header .section-bottom .menu ul li:last-child .menu-a {
    border-right: none;
    padding-right: 20px;
}
header .section-bottom .menu ul li .menu-a span {
    font-family: "ProximaNovaRegular";
    display: block;
    font-size: 14px;
}
header .section-bottom .menu ul li ul {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100%;
    display: block;
    border-radius: 0 0 8px 8px;
    transition: .4s;
    right: 0;
    width: 300px;
    z-index: 12;
    transform-origin: center top 0cm;
    overflow: hidden;
    box-shadow: 0px 8px 10px 0px #0000006b;
    transform: translatey(20px);
    opacity: 0;
    visibility: hidden;
}
header .section-bottom .menu ul li ul li {
    margin: 0;
    width: 100%;
    padding: 0;
}
header .section-bottom .menu ul li ul li a {
    font-size: 14px;
    padding: 18px 20px;
    border-top: 1px solid #ededed;
    display: inline-block;
    width: 100%;
    color: #4e4e4e;
}
header .section-bottom .menu ul li ul li:first-child a {
    border: none;
}
header .section-bottom .menu ul li ul li a:hover {
    background: #6291f1;
    color: #fff;
}
header .section-bottom .menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: none;
}
.section-banner .item {
    position: relative;
}
.section-banner .item img {
    object-fit: cover;
    width: 100%;
    height: 700px;
}
.section-banner .item .item-position {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.section-banner .banner-heading h1 {
    font-size: 45px;
    color: #fff;
    margin: 0;
}
.section-banner .banner-heading p {
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
}
.section-banner .banner-heading {
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 130px;
}
.section-banner .banner-heading .more-details {
    text-align: center;
    margin-top: 45px;
    width: 100%;
}
.section-banner .banner-heading .more-details a {
    font-size: 13px;
    color: #fff;
    display: inline-block;
    padding: 13px 42px;
    background-color: #6291f1;
    border-radius: 100px;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: all .3s;
}
.section-banner .banner button.slick-next.slick-arrow, .section-banner .banner button.slick-prev.slick-arrow {
    text-indent: -9999px;
    background-color: #fff;
    background-image: url(../img/next.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    transition: 0.5s;
    z-index: 11;
    top: 300px;
}
.section-banner .banner button.slick-prev.slick-arrow {
    background-image: url(../img/prev.png);
    left: 70px;
}
.section-banner .banner button.slick-next.slick-arrow {
    right: 70px;
}
.section-banner .banner button.slick-next.slick-arrow:hover, .section-banner .banner button.slick-prev.slick-arrow:hover {
    background-color: #6291f1;
}
.section-banner .banner button.slick-next.slick-arrow:hover {
    background-image: url(../img/next-active.png);
}
.section-banner .banner button.slick-prev.slick-arrow:hover {
    background-image: url(../img/prev-active.png);
}
.section-banner .banner ul.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 115px;
}
.section-banner .banner ul.slick-dots li {
    list-style: none;
    margin-left: 24px;
    height: 100%;
    display: flex;
    align-items: center;
}
.section-banner .banner ul.slick-dots li:first-child {
    margin: 0;
}
.section-banner .banner ul.slick-dots li button {
    width: 7px;
    height: 7px;
    background-color: #afa797;
    border-radius: 100%;
    text-indent: -10000px;
    transition: 0.5s;
}
.section-banner .banner ul.slick-dots .slick-active button {
    background-color: #fff;
}
.section-category {
    margin-top: -80px;
    margin-bottom: 50px;
}
.section-category .item {
    background-color: #ffffff;
    height: 165px;
    padding: 32px 0;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0px 7px 21px 0px rgb(7, 8, 8, 0.1);
    cursor: pointer;
    border-radius: 10px;
}
.section-category .item:hover {
    box-shadow: 0px 4px 10px 0px rgb(0, 126, 189, 0.2);
    background-color: #5785e3;
    margin-top: -15px;
}
.section-category .item img {
    transition: 0.5s;
}
.section-category .item:hover img {
    filter: brightness(0) invert(1);
}
.section-category .item:hover .hover-img {
    position: static;
    opacity: 1;
    visibility: visible;
}
.section-category .item .hover-img {
    opacity: 0;
    visibility: visible;
    position: absolute;
}
.section-category .item:hover p {
    color: #fff;
}
.section-category .item p {
    font-size: 14px;
    color: #000;
    margin-bottom: 0;
    display: block;
    width: 100%;
    transition: 0.5s;
}
.section-advertising {
    margin: 65px 0;
}
.section-advertising img {
    box-shadow: 0px 7px 21px 0px rgb(7, 8, 8, 0.1);
    border-radius: 8px;
}
.section-news {
    margin-bottom: 80px;
}
.section-news .news-menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ededed;
}
.section-news .news-menu ul li {
    list-style: none;
}
.section-news .news-menu ul li button {
    font-size: 30px;
    color: #000;
    padding: 0 25px 30px 25px;
    display: inline-block;
    position: relative;
    margin: 0 5px;
    text-transform: uppercase;
}
.section-news .news-menu ul li button:after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #6291f1;
    transition: width .5s;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.section-news .news-menu ul li:hover button::after {
    width: 100%;
}
.section-news .news-menu ul li .active::after {
    width: 100%;
}
.section-news .news {
    border-radius: 10px;
    margin-top: 48px;
    border: 1px solid #ededed;
    overflow: hidden;
}
.section-news .news-block {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
}
.section-news .news-block .news-left-img {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.section-news .news-block .news-right {
    width: 50%;
}
.section-news .news-item-right {
    display: flex;
    flex-direction: row;
}
.section-news .news-item-right .item-img {
    width: 50%;
    position: relative;
}
.section-news .news-item-right .item-img::after {
    content: "";
    border: 11px solid transparent;
    border-right: 13px solid #fff;
    position: absolute;
    top: 150px;
    margin: 0 auto;
    width: 12px;
    right: 0;
}
.section-news .news-item-right .item-right {
    width: 50%;
    background-color: #fff;
    padding: 35px 26px 30px 26px;
    position: relative;
}
.section-news .news-item-right .item-right h2 {
    font-size: 18px;
    color: #202020;
    margin: 0;
    font-family: "PtsansBold";
}
.section-news .news-block .news-left-img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: .3s;
}
.section-news .news-item-right .item-img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.section-news .news-item-right .item-right p {
    font-family: "ProximaNovaRegular";
    font-size: 14px;
    color: #262626;
    margin-top: 18px;
    margin-bottom: 0;
}
.section-news .news-item-right .item-right a {
    width: 36px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #fff;
    background-color: #c7c7c7;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.section-news .news-item-right .item-right a:hover {
    background-color: #6291f1;
}
.data-user {
    position: absolute;
    bottom: 0;
    padding: 30px 25px 20px;
    display: flex;
    align-items: center;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.28) 0%, rgb(0, 0, 0) 100%);
    min-height: 100px;
}
.data-user p {
    font-family: "ProximaNovaRegular";
    font-size: 13px;
    color: #fff;
    margin: 0;
}
.data-user p:last-child {
    margin-left: 10px;
}
.data-user p i {
    margin-right: 7px;
}
.data-user h2 {
    font-size: 20px;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
}
.data-user .text-botom {
    display: flex;
    align-items: center;
}
.data-user a {
    width: 36px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #fff;
    background-color: #c7c7c7;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.data-user a:hover {
    background-color: #6291f1;
}
.section-news .news-item-right .item-img.after-right::after {
    right: auto;
    left: 0;
    border-left: 13px solid #fff;
    border-right: none;
}
.section-news .news-bottom {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.show-more {
    text-align: center;
    margin-top: 45px;
    display: inline-block;
    width: 100%;
}
.show-more button {
    font-size: 15px;
    color: #6291f1;
}
#news-directions {
    background-color: #f8f8f8;
    border: 1px solid #ededed;
    margin: 0;
    padding: 80px 0 60px 0;
}
.news-heading {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 0 26%;
}
.news-heading h3 {
    font-size: 30px;
    color: #000;
    margin: 0;
    text-transform: uppercase;
}
.news-heading p {
    font-family: "ProximaNovaRegular";
    font-size: 14px;
    color: #262626;
    margin: 15px 0 25px;
}
.section-news .news-menu .menu-directions {
    padding-top: 30px;
    border-top: 1px solid #ededed;
    position: relative;
}
.section-news .news-menu .menu-directions:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: -5px;
    height: 5px;
    width: 195px;
    background-color: #ff7d24;
    margin: 0 auto;
}
.section-news .news-menu .menu-directions li button {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 20px 20px 20px;
}
.section-news .news-block-directions {
    border-radius: 10px;
    overflow: hidden;
}
.data-user span {
    font-family: "ProximaNovaExtrabold";
    font-size: 13px;
    color: #fff;
    background-color: #ff7d24;
    display: inline-block;
    padding: 5px 9px;
    margin-bottom: 9px;
}
.news-subscribe {
    background: url(../img/subscribe.jpg) no-repeat center;
    padding: 50px 0;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.news-subscribe .subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto
}
.news-subscribe .subscribe-heading {
    display: inline-block;
    width: 45%;
}
.news-subscribe .subscribe-heading h5 {
    font-size: 25px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    line-height: 43px;
}
.news-subscribe .subscribe-heading span {
    font-size: 58px;
    color: #ff7d24;
    display: inline-block;
    width: 100%;
}
.news-subscribe form {
    position: relative;
    width: 55%;
}
.news-subscribe form .input {
    border-radius: 100px;
    width: 100%;
    height: 44px;
    background-color: #fff;
    border: none;
    font-family: "ProximaNovaRegular";
    font-size: 14px;
    color: #878787;
    padding-left: 20px;
    padding-right: 180px;
    border: 2px solid transparent;
    transition: all .3s;
}
.news-subscribe form .input::placeholder {
    font-family: "ProximaNovaRegular";
    font-size: 14px;
    color: #878787;
}
.news-subscribe form .submit {
    background-color: #6291f1;
    border: none;
    border-radius: 100px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 33px;
    border: 2px solid transparent;
    transition: .3s;
}
.image-top {
    margin-top: 30px;
}
.col-12.gallery-size-top {
    margin-bottom: 30px;
}
#news-for-directions {
    margin: 70px 0;
}
.images-size {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 100%;
    margin-top: 30px;
}
.images-size img {
    width: 100%;
    height: 100%;
}
.images-size .search-icon {
    background: url(../img/search-icon.png) no-repeat center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
}
.images-size:hover .search-icon {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    background-color: #00000061;
}
.images-size .video-icon {
    background: url(../img/video-icon.png) no-repeat center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
}
.images-size:hover .video-icon {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    background-color: #00000061;
}
.folk {
    background: url(../img/fixed.jpg) no-repeat center 194px/ 100%;
    background-attachment: fixed;
    padding: 30px 0 55px;
    box-shadow: 2.5px 4.33px 35px 0px rgb(58, 69, 83, 0.1);
}
.folk-heading h4 {
    font-size: 30px;
    margin: 0;
    color: #ff7d24;
    line-height: 34px;
    text-transform: uppercase;
}
.folk-heading span {
    color: #000000;
    display: inline-block;
    width: 100%;
}
.folk-heading {
    margin-bottom: 45px;
}
.images-folk {
    overflow: hidden;
    margin-bottom: 20px;
    height: 250px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    transition: all .3s;
    border-radius: 100%;
    overflow: hidden;
}
.images-folk img {
    width: 230px;
    height: 100%;
}
.statistics a {
    color: #ffc107;
    font-size: 22px;
}
.statistics .color {
    color: #bebebe;
}
.statistics .color:hover {
    color: #ffc107;
}
.statistics ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.neme-folk {
    text-align: center;
    margin-top: 10px;
}
.neme-folk p {
    font-size: 19px;
    color: #1b1c1e;
    margin-bottom: 0;
}
.neme-folk span {
    font-family: "ProximaNovaRegular";
    font-size: 15px;
    color: #6f6f6e;
    display: inline-block;
    width: 100%;
}
.folk .show-more {
    margin-top: 55px;
}
.folk .show-more a {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    background-color: #6291f1;
    padding: 14px 37px;
    border-radius: 100px;
    display: inline-block;
}
.young {
    background: url(../img/young.jpg) no-repeat center;
    background-size: cover;
    padding: 75px 0;
}
.news-heading.young-item {
    padding: 0 29%;
    border-bottom: 1px solid #89adf4;
    position: relative;
    margin-bottom: 50px;
}
.news-heading.young-item :after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 195px;
    background-color: #ff7d24;
    margin: 0 auto;
}
.news-heading.young-item h3 {
    color: #fff;
}
.news-heading.young-item p {
    color: #fff;
}
.statistics.new-item ul .color {
    color: #fff;
}
.statistics.new-item ul .color:hover {
    color: #ffc107;
}
.statistics.new-item .neme-folk p {
    color: #fff;
}
.statistics.new-item .neme-folk span {
    color: #fff;
}
main section.young .show-more.news-item-more a {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    background-color: #ff7d24;
    padding: 14px 37px;
    border-radius: 100px;
    display: inline-block;
}
.service-statistics {
    padding: 75px 0;
}
.news-heading.young-item.service-statistics2 {
    border-bottom: 1px solid #ededed;
    padding: 0px 23%;
}
.news-heading.young-item.service-statistics2 h3 {
    color: #000;
}
.news-heading.young-item.service-statistics2 p {
    color: #000;
}
.item-statistics {
    background-color: #fff;
    height: 124px;
    display: flex;
    align-content: center;
    padding-left: 30px;
    border-radius: 8px;
    box-shadow: 0px 7px 21px 0px rgb(7, 8, 8, 0.1);
    position: relative;
    padding-right: 12px;
}
.item-statistics .bg_statistics {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background: url(../img/bg_statistics.png) no-repeat right;
    z-index: 1;
    width: 100%;
}
.statistics-block {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
}
.statistics-block p {
    margin: 0;
    font-size: 15px;
    color: #000;
    margin-left: 23px;
    line-height: 18px;
    text-transform: uppercase;
}
footer .footer-top {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    padding: 75px 0;
}
footer .menu-footer ul {
    padding: 0;
    margin: 0;
}
footer .menu-footer ul span {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #262626;
    margin-bottom: 5px;
}
footer .menu-footer ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    line-height: 17px;
    padding-right: 45px;
}
footer .menu-footer ul li a {
    font-family: "ProximaNovaRegular";
    font-size: 13px;
    color: #262626;
}
footer .menu-footer ul li a:hover {
    color: #ff7d24;
}
footer .menu-footer ul p {
    margin: 0;
    font-family: "ProximaNovaRegular";
    font-size: 13px;
    color: #262626;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
footer .menu-footer ul p img {
    margin-right: 7px;
}
footer .menu-footer ul p a {
    font-size: 13px;
    color: #262626;
    font-family: "ProximaNovaRegular";
    line-height: 21px;
}
footer .menu-footer ul p span {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    color: #262626;
    font-family: "ProximaNovaRegular";
    margin: 0;
}
footer .menu-footer ul p span b {
    font-size: 20px;
    font-family: "ProximaNovaBold";
}
footer .menu-footer ul .gmail-icon {
    font-size: 13px;
    color: #262626;
    font-family: "ProximaNovaRegular";
    display: flex;
    align-items: center;
    margin-top: 20px;
}
footer .menu-footer ul .gmail-icon:hover {
    color: #ff7d24;
}
footer .menu-footer ul .gmail-icon img {
    margin-right: 7px;
}
footer .counter {
    margin-top: 30px;
}
footer .counter span {
    font-size: 18px;
    color: #262626;
}
footer .counter p {
    font-size: 13px;
    color: #262626;
    margin-bottom: 0;
    margin-top: 23px;
}
footer .counter span.weather {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 25px;
}
footer .footer-center {
    padding: 25px 0;
    border-bottom: 1px solid #ededed;
}
footer .text-footer-center p {
    font-family: "ProximaNovaRegular";
    font-size: 13px;
    margin: 0;
    color: #262626;
}
footer .footer-social-network ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
footer .footer-social-network ul li:first-child {
    margin: 0;
}
footer .footer-social-network ul li {
    list-style: none;
    margin-left: 7px;
}
footer .footer-social-network ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 1px solid #757575;
    color: #757575;
    font-size: 16px;
}
footer .footer-social-network ul li a:hover {
    border: 1px solid #6291f1;
    color: #6291f1;
}
footer .text-footer-center {
    display: flex;
    align-items: center;
}
footer .text-footer-center img {
    margin-left: 15px;
}
footer .width-footer-left {
    flex: 0 0 27%;
    max-width: 27%;
}
footer .width-footer-right {
    flex: 0 0 23%;
    max-width: 23%;
}
footer .data-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer .data-logo p {
    font-family: "ProximaNovaRegular";
    font-size: 13px;
    margin: 0;
    color: #262626;
    text-align: right;
    line-height: 14px;
}
footer .data-logo img {
    margin-left: 13px;
}
footer .footer-bottom {
    padding: 30px 0;
    text-align: center;
}
footer .footer-bottom p {
    font-family: "ProximaNovaRegular";
    font-size: 12px;
    color: #818181;
    margin: 0 auto;
    width: 72%;
}
/* fixed */
.fixed .big-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #6291f1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 33px;
    box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.21);
    transition: all 600ms;
    z-index: 130;
    border: none;
    padding: 0;
}
.fixed .big-button::after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    display: block;
    transition: 0.5s;
    position: absolute;
    animation-name: call_button;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background: #056de6;
    animation-direction: alternate;
}
.fixed .big-button i {
    transition: all 600ms;
    position: relative;
    z-index: 1;
}
.fixed .big-button img {
    transition: all 600ms;
    position: relative;
    z-index: 1;
}
.fixed .big-button .close {
    position: absolute;
    text-shadow: none;
    font-size: 43px;
    opacity: 1;
    color: #fff;
    font-weight: 700;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    line-height: 1;
    font-style: normal;
    height: 42px;
}
.fixed .big-button.active i.close {
    transform: translate(-50%, -50%) scale(1);
}
.fixed .big-button.active img {
    transform: scale(0);
}
.fixed .buttons-group {
    position: fixed;
    right: 38px;
    transition: all 600ms;
    opacity: 0;
    visibility: hidden;
    bottom: 30px;
    z-index: 40;
}
.fixed .buttons-group.active {
    bottom: 97px;
    opacity: 1;
    visibility: visible;
    z-index: 60;
}
.fixed .buttons-group .small-button {
    width: 40px;
    height: 40px;
    margin-top: -40px;
    border-radius: 50%;
    background: #ff7d24;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.21);
    transition: all 600ms;
}
.fixed .buttons-group.active .small-button {
    margin-top: 7px;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}
.send-callback {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.btn.btn-primary {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 146px;
    height: 50px;
    background-color: #6291f1;
    border: 2px solid #6291f1;
}
.fixed-remove.active {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 390;
}
h5#exampleModalLabel {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@keyframes call_button {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
/* side-nav */
.side-nav {
    position: fixed;
    right: 0;
    top: 30%;
    background-color: #fff;
    border-radius: 8px 0 0 8px;
    box-shadow: 0px 7px 21px 0px rgb(7, 8, 8, 0.1);
    z-index: 15;
    padding: 3px 0;
}
.side-nav.fixed-item:first-child {
    margin: 0;
}
.side-nav .fixed-item {
    background: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    transition: .4s;
    display: block;
    position: relative;
}
/* mobile */
.owerlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #00000087;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    z-index: 1111;
}
.owerlay.active {
    opacity: 1;
    visibility: visible;
}
.toggle-nav {
    background: transparent;
    border: none;
    display: none;
    padding-left: 0px;
    padding-right: 0;
    position: relative;
    z-index: 13;
    float: right;
    height: 100%;
}
.toggle-nav span {
    transition: all 600ms;
    width: 15px;
    height: 2px;
    border-radius: 3px;
    background: #6291f1;
    display: block;
    margin-bottom: 5px;
}
.toggle-nav span:last-child {
    width: 10px;
}
header .section-bottom .menu.active {
    transform: none;
}
header .section-bottom .menu ul li.close-icon {
    display: none;
}
header .section-bottom .menu ul.mobile-site {
    display: none;
}
/*Other pages*/
.page-title {
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #ededed;
}
.page-body {
    padding: 50px 0;
}
.list-items .list-item {
    box-shadow: 0 2px 19px -3px #00000014;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
}
.list-items .list-item img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    transition: all .4s;
}
.list-items .list-item .item-img {
    position: relative;
    overflow: hidden;
}
.list-items .list-item .item-img .data-user {
    justify-content: space-between;
}
.list-items .list-item .item-content {
    padding: 30px 20px 20px 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.list-items .list-item .item-content h2 {
    font-size: 22px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 22px;
}
.list-items .list-item .item-content p {
    font-weight: normal;
    font-family: ProximaNovaRegular;
    font-size: 17px;
}
.list-items .list-item .item-content h2 a {
    color: #000;
    text-decoration: none;
    transition: .3s;
}
.item-content .more {
    text-align: right;
}
.item-content .more i {
    margin-left: 10px;
}
.item-content .more a {
    display: inline-flex;
    align-items: center;
}
.page-body p {
    font-family: ProximaNovaRegular;
}
.list-items .list-item:hover img {
    transform: scale(1.1);
}
.list-items .list-item .item-content h2:hover a {
    color: #007bff;
}
.section-news .news-item-right .item-img:hover img {
    transform: scale(1.2);
}
.item-img {
    overflow: hidden;
}
.item-img img {
    transition: .3s;
}
.item-img:hover img {
    transform: scale(1.1);
}
.news-left-img:hover img {
    transform: scale(1.1);
}
.news-subscribe:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.news-subscribe:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}
.news-subscribe > div {
    position: relative;
}
.news-subscribe form .input:focus {
    border-color: #6291f1;
}
.news-subscribe form .submit:hover {
    background: transparent;
    border-color: #6291f1;
    color: #6291f1;
}
.section-banner .banner-heading .more-details a:hover {
    background: #fff;
    color: #6291f1;
    border-color: #6291f1;
}
.section-banner .banner-heading .more-details a:focus {
    background: #fff;
    color: #6291f1;
    border-color: #6291f1;
    box-shadow: inset 0px 6px 10px 0px #6291f15e;
}
header .section-bottom .menu ul li:last-child a {
    margin-right: 0;
}
.list-items .list-item:nth-child(even) .row {
    display: flex;
    flex-direction: row-reverse;
}
.list-items .list-item:nth-child(even) .item-content {
    padding: 30px 0px 20px 30px;
}
.images-size a {
    width: 100%;
    height: 220px;
}
.row > div:nth-child(1) > .images-size, .row > div:nth-child(2) > .images-size {
    margin-top: 0;
}
.images-size a video, .images-size a img {
    min-height: 100%;
    object-fit: cover;
}
.sidebar-block {
    box-shadow: 0 2px 19px -3px #00000014;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
}
.sidebar-block-title {
    padding: 30px 10px 10px 30px;
    border-bottom: 1px solid #ccc;
    color: #fff;
    background: url(../img/header-bg.jpg) no-repeat center;
    background-size: cover;
}
.sidebar-block-content {
    padding: 20px 30px 20px 30px;
}
.sidebar-block-title h3 {
    font-size: 23px;
    margin: 0;
}
.sidebar-block-content {
}
.categories .sidebar-block-content {
    padding: 0;
}
.sidebar-block-content ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.sidebar-block-content ul a {
    padding: 12px 22px;
    display: block;
    border-bottom: 1px solid #ccc;
    color: #6291f1;
}
.sidebar-block-content ul a:hover {
    color: #fff;
    background: #6291f1;
}
.sidebar-block-content ul li:last-child a {
    border: 0;
}
.sidebar-block-content ul a.active {
    background: #ff7d24;
    color: #fff;
}
.inner-page .page-body-content .page-image img {
    width: 100%;
    border-radius: 5px;
}
.inner-page .page-body-content .page-image {
    margin-bottom: 30px;
}
.page-footer {
    margin-top: 50px;
}
.page-footer a {
    font-size: 21px;
    color: #000;
    border-right: 1px solid #ccc;
    padding-right: 20px;
    margin-right: 20px;
    font-weight: normal;
    display: inline-block;
}
.page-footer a i {
    color: #6291f1;
}
.page-footer a:last-child {
    border-right: 0;
    padding-right: 0;
}
.statistics .neme-folk a {
    color: unset;
}
.images-folk:hover {
    transform: rotate(10deg);
}
.images-folk img {
    transition: all .3s;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.images-folk:hover img {
    transform: scale(1.1) rotate(-10deg);
}
.statistics .neme-folk a:hover {
    color: #ffc107;
}
.young .neme-folk a {
    color: #fff;
}
.news-item {
    max-width: 50%;
    display: flex;
    flex-wrap: initial;
    flex-wrap: wrap;
    position: relative;
}
.news-item .news-img, .news-item .news-text {
    max-width: 50%;
    display: inline-block;
    position: relative;
    width: 50%;
}
.news-item .news-img img {
    max-width: 100%;
    display: inline-block;
    height: 280px;
    object-fit: cover;
    width: 100%;
}
.news-item .news-text h2 {
    font-size: 18px;
    color: #202020;
    margin: 0;
    font-family: "PtsansBold";
}
.news-item .news-text p {
    font-family: "ProximaNovaRegular";
    font-size: 14px;
    color: #262626;
    margin-top: 18px;
    margin-bottom: 0;
}
.news-item .news-text a {
    width: 36px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #fff;
    background-color: #c7c7c7;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.news-item .news-text {
    background-color: #fff;
    padding: 35px 26px 30px 26px;
    position: relative;
}
.news-item .news-img:after {
    content: "";
    border: 11px solid transparent;
    border-right: 13px solid #fff;
    position: absolute;
    top: 150px;
    margin: 0 auto;
    width: 12px;
    right: 0;
}
.news-item .news-img a {
    display: block;
}
.news-item:nth-child(3), .news-item:nth-child(4), .news-item:nth-child(7), .news-item:nth-child(7) {
    flex-direction: row-reverse;
}
.news-item:nth-child(3) .news-img:after, .news-item:nth-child(4) .news-img:after, .news-item:nth-child(7) .news-img:after, .news-item:nth-child(8) .news-img:after {
    left: 0;
    right: unset;
    border-right: unset;
    border-left: 13px solid #fff;
}
.news-item .news-img .category {
    font-family: "ProximaNovaExtrabold";
    font-size: 13px;
    color: #fff;
    background-color: #ff7d24;
    display: inline-block;
    padding: 5px 9px;
    margin-bottom: 14px;
    width: unset;
    height: unset;
    border-radius: 0;
    position: static;
}
.first-banner .news-row > .news-item:first-child {
}
.news-column {
    max-width: 50%;
    width: 50%;
}
.news-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.news-column .news-item:nth-child(2) {
    flex-direction: row;
    flex-direction: row;
    flex-direction: row-reverse;
}
.first-banner .news-row > .news-item:first-child .news-img {
    width: 100%;
    max-width: 100%;
}
.first-banner .news-row > .news-item:first-child .news-text {
    position: absolute;
    max-width: 100%;
    width: 100%;
    background: transparent;
    bottom: 0;
    z-index: 100;
    padding-bottom: 70px;
}
.first-banner .news-row > .news-item:first-child .news-img img {
    height: 560px;
}
.first-banner .news-row > .news-item:first-child .news-text p {
    display: none;
}
.first-banner .news-row > .news-item:first-child .news-text h2 {
    color: #fff;
}
.news-column .news-item {
    width: 100%;
    max-width: 100%;
}
.news-column .news-item:nth-child(2) .news-img:after {
    left: 0;
    right: unset;
    border-left: 13px solid #fff;
    border-right: unset;
}
.news-block.first-banner > .news-item:nth-child(3) {
    flex-direction: row;
}
.news-block.first-banner > .news-item:nth-child(3) .news-img:after {
    right: 0;
    left: unset;
    border-right: 13px solid #fff;
    border-left: 0;
}
.category-item {
    margin-bottom: 30px;
}
.category-list .category-item h2 a {
    font-size: 28px;
}
.category-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.category-item h2 {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ededed;
}
.category-item ul li {
    margin-bottom: 3px;
}
.event-item {
    margin-bottom: 30px;
}
.event-item h2 {
    font-size: 20px;
    border-bottom: 1px solid #ededed;
    margin: 0;
    padding-bottom: 10px;
}
.event-item ul {
    list-style: none;
    padding-left: 30px;
    border-bottom: 1px solid #ededed;
}
.event-item ul li {
    padding: 20px 0;
    display: flex;
}
.event-item ul li div:not(:last-child) {
    margin-right: 50px;
}
.event-item ul li:not(:last-child) {
    border-bottom: 1px solid #ededed;
}
.event-item ul li .event-date h4 {
    margin-bottom: 0;
    font-size: 2rem;
    color: #6291f1;
    background: #6291f1;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    display: flex;
    padding: 2px 7px 0px 7px;
    align-items: center;
    justify-content: center;
}
.event-item ul li p {
    margin-bottom: 5px;
    font-size: 12px;
}
.event-item ul li .event-title a {
    color: #6291f1;
    font-size: 21px;
    font-family: ProximaNovaRegular;
}
.tender {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.tender .tender-item {
    width: 33.33333%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.tender .tender-item .tender-img {
    height: 100%;
    width: 100%;
}
.tender .tender-item .tender-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 15px;
}
.tender .tender-item .tender-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tender-category {
    font-family: "ProximaNovaExtrabold";
    font-size: 13px;
    color: #fff;
    background-color: #ff7d24;
    display: inline-block;
    padding: 5px 9px;
    margin-bottom: 11px;
    width: unset;
    height: unset;
    border-radius: 0;
    position: static;
}
.tender .tender-item .tender-text h3 {
    font-size: 1.5rem;
    font-family: ProximaNovaRegular;
    margin: 0;
}
.tender .tender-item-content {
    position: relative;
    display: flex;
}
.tender .tender-item:first-child, .tender .tender-item:nth-child(2) {
    width: 50%;
}
.tender-category a {
    color: #fff;
}
.tender .tender-item .tender-text h3 a {
    color: #000;
}
.column-category-item {
    overflow: hidden;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 9px 0px #00000014;
    margin-bottom: 30px;
}
.column-category-item .title {
    padding: 20px 15px 14px 15px;
    background: #6291f1;
    text-align: center;
}
.column-category-item .title h2 {
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 4px;
}
.column-category-item .title .seemore {
    color: #fff;
    font-family: ProximaNovaRegular;
    font-size: 14px;
}
.column-category-item .title .seemore:after {
    content: ">";
    margin-left: 5px;
}
.column-category-item .body {
    padding: 0 20px;
}
.column-category-item .body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.column-category-item .body li {
    border-bottom: 1px solid #ededed;
    padding: 14px 15px;
}
.column-category-item .body a {
    font-family: ProximaNovaRegular;
    color: #707070;
    transition: all .3s;
}
.column-category-item .body li:last-child {
    border-bottom: 0;
}
.column-category-item .body a i {
    margin-right: 11px;
    color: #6291f1;
    transition: all .3s;
}
.column-category-item .body a:hover i {
    transform: translatex(6px);
}
.column-category-item .body a:hover {
    color: #6291f1;
}
.side-nav .fixed-item p {
    margin: 0;
    white-space: nowrap;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background: #fff;
    right: 0;
    transform: translatex(100%);
    transition: .4s;
    border-radius: 5px 5px 0;
}
.side-nav .fixed-item:hover {
    left: unset;
}
.side-nav .fixed-item:hover p {
    opacity: 1;
}
.fixed-row {
    position: relative;
    height: 54px;
}
header .section-top .social-network ul li a:hover i {
    transform: scale(1.3);
}
.side-nav .fixed-item img {
    height: auto;
    position: relative;
    z-index: 1;
    background: #fff;
    width: 40px;
}
.side-nav .fixed-item:hover p {
    right: calc(100% - 10px);
    transform: none;
}
.side-nav .fixed-item .text-img {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #6291f1;
    color: #fff;
    font-size: 17px;
    position: relative;
    z-index: 2;
}
.logo h1 {
    color: #000;
    font-size: 19px;
    text-transform: uppercase;
    line-height: 0.9;
    font-family: ProximaNovaBold;
    margin: 0;
}
.logo p {
    font-size: 13px;
    color: #4e4e4e;
    text-transform: uppercase;
    margin: 1px 0 0 0;
}
.logo-text {
    margin-left: 14px;
}
.logo a {
    display: flex;
    align-items: center;
}
.long-list .list-item .img img {
    border-radius: 100%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}
.long-list .list-item .text h2 {
    font-size: 22px;
}
.long-list .list-item .text .text-items p {
    font-size: 15px;
    margin-bottom: 6px;
}
.list-item-cont {
    background: #fff;
    padding: 20px 20px;
    box-shadow: 0px 0px 6px 0px #00000021;
    border-radius: 7px;
}
.long-list .list-item {
    margin-bottom: 30px;
}
.long-list .list-item .text .text-items p b {
    font-size: 13px;
}
.quaters-list .img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
}
.quaters-list .img {
    text-align: center;
    margin-bottom: 23px;
}
.quaters-list .text h2 {
    font-size: 20px;
    text-align: center;
    color: #000;
    margin-bottom: 5px;
}
.quaters-list .text p {
    margin-bottom: 2px;
}
.quaters-list .text .text-items {
    position: absolute;
    display: none;
}
.quaters-list .text h2 a {
    color: #000;
}
.quaters-list .text .showmore {
    font-size: 13px;
    color: #fff;
    display: inline-block;
    padding: 11px 28px;
    background-color: #6291f1;
    border-radius: 100px;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: all .3s;
    margin-top: 12px;
}
.quaters-list .text .showmore:hover {
    background: #fff;
    color: #6291f1;
    border-color: #6291f1;
}
.quaters-list .text {
    text-align: center;
}
.quaters-list .text .showmore .icon {
    margin-left: 7px;
    transition: .3s;
}
.quaters-list .text .showmore .icon svg {
    width: 11px;
    height: 12px;
}
.quaters-list .text .showmore .icon svg path {
    fill: #fff;
}
.quaters-list .text .showmore:hover .icon svg path {
    fill: #6291f1;
}
.quaters-list .text .showmore .closer {
    display: none;
}
.quaters-list .active .showmore .closer {
    display: inline-block;
}
.quaters-list .active .showmore .show {
    display: none;
}
.quaters-list .active .showmore .icon {
    transform: rotatez(180deg);
    display: inline-block;
}
.quaters-list .active .showmore {
    background: #ff7d24;
}
.quaters-list .active .showmore:hover {
    color: #ff7d24;
    border-color: #ff7d24;
}
.quaters-list .active .showmore:hover svg path {
    fill: #ff7d24 !important;
}
.quaters-list .text .text-items {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    z-index: 100;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    border: 1px solid #ff7d24;
}
.quaters-list .text .text-items:before {
    content: "";
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-bottom: 14px solid #ff7d24;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -28px;
}
.quaters-list .text .text-items .buttons {
    text-align: center;
    margin-top: 20px;
}

.quaters-list .text .text-items .buttons button {
    font-size: 11px;
    color: #fff;
    display: inline-block;
    padding: 7px 17px;
    background-color: #6291f1;
    border-radius: 100px;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: all .3s;
}.quaters-list .text .text-items .buttons button:hover {
     background: #fff;
     color: #6291f1;
     border-color: #6291f1;
 }
.quaters-list {
    margin-bottom: 40px;
}
.region-item a {
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.36);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.region-item a:hover {
    background: #6291f1;
    color: #fff;
}
